body, html {
    padding: 30px;
    height: 100%;
    width: 100%
}

.container {
    display: none;
    justify-content: center;
    align-items: center;
}
.error {
    display: table-cell;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    z-index: 11;
    opacity: 0.9;
}

#GN {
    position: absolute;
    margin-top: 10px;
    width: 90%;
    height: 70%;
}

.geneInfo {
    position: absolute;
    display: table-row;
    top: 40px;
    left: 250px;
    height: 130px;
    width: 100%;
    z-index: 10;
}

#divColor, #divTip, #compTip, #divSlider {
    display: table-cell;
    position: relative;
}

#divColor {
    vertical-align: middle
}

#divTip {
    width: 500px;
}

#divSlider {
    width: 100px;
    height: 130px;
}

#evalueCutOff {
    transform: translate(0px, 50px) rotate(-90deg);
}

#treeBox {
    position: absolute;
    z-index: 3;
}

#geneClusterBox {
    position: absolute;
    z-index: 1;
}

#geneHoodArea {
    z-index: 1;
}

#branchWidthInput {
    position: relative;
    left:40%;
    top:100px;
    width: 300px;
    height: 40px;

    opacity: 1;
    z-index: 10;
}

#tnt_tooltip_1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    cursor: default;
    z-index: 5;
}

.tnt_zmenu_header {
    cursor: move;
    z-index: 5;
}
  
.tnt_zmenu_clickable {
    cursor: pointer;
    z-index: 5;
}